export(archive.packages)
export(cl2news)
export(debianize)
export(dep4deb)
export(entities)
export(getChangeLogEntry)
export(initChangeLog)
export(news2rss)
export(readChangeLog)
export(roxy.package)
export(sandbox)
export(sandbox.status)
export(updateChangeLog)
export(writeChangeLog)
export(write_PACKAGES)
importFrom(tools,write_PACKAGES)
